<blockquote class="twitter-tweet">
<p lang="en" dir="ltr">Тhe Substrate implementation of the AdEx protocol is now complete - and we were pleasantly surprised that it was much, much easier than we initially expected. See it here: 
<a href="https://t.co/KQltfWvawd">https://t.co/KQltfWvawd</a>
<a href="https://twitter.com/polkadotnetwork?ref_src=twsrc%5Etfw">@polkadotnetwork</a> 
<a href="https://twitter.com/hashtag/blockchain?src=hash&amp;ref_src=twsrc%5Etfw">#blockchain</a> 
<a href="https://twitter.com/hashtag/blockchaininteroperability?src=hash&amp;ref_src=twsrc%5Etfw">#blockchaininteroperability</a> 
<a href="https://twitter.com/hashtag/polkadot?src=hash&amp;ref_src=twsrc%5Etfw">#polkadot</a>
<a href="https://twitter.com/hashtag/substrate?src=hash&amp;ref_src=twsrc%5Etfw">#substrate</a>
</p>
&mdash; AdEx Network (@AdEx_Network) <a href="https://twitter.com/AdEx_Network/status/1074677112244748288?ref_src=twsrc%5Etfw">December 17, 2018</a>
</blockquote> 
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>