<!--YOUTUBE SNIPPET-->
<iframe
  className="w-full h-56 sm:h-80 md:h-96"
  src="https://www.youtube.com/embed/ADD_VIDEO_ID_HERE"
  frameBorder="0"
  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
  allowFullScreen
></iframe>