/* COOKIE CONSENT BOX */
#klaro .cookie-notice {
  z-index: 9999;
  background: #282828;
  color: white;
  padding:.2rem;
  border-radius: 5px;
  -webkit-box-shadow: -2px -1px 42px 11px rgba(0,0,0,0.42); 
  box-shadow: -2px -1px 42px 11px rgba(0,0,0,0.42);
}

.cn-ok {
  display: flex;
  flex-direction: column !important;
}

.cm-link {
  font-size: .9rem;
  color:#FF1864 !important;
}

.cn-body p {
  font-size: .9rem;
  margin-bottom: 0;
}


.cn-buttons {
  width: 100%;
  display: flex !important;
  justify-content: space-between;
}

.cn-decline {
  font-size: .9rem !important;
  background-color: #FF1864 !important;
  padding: .5rem 1rem !important;
  border-radius: 2px !important;
}

.cm-btn-success {
  font-size: .9rem !important;
  background-color: #FF1864 !important;
  padding: .1rem 1rem !important;
  border-radius: 2px !important;
}

/* COOKIE CONSENT MANAGER */
.klaro .cookie-modal .cm-modal.cm-klaro {
  background: #282828 !important;
  border-radius: 5px  !important;
  padding:.5rem;
}

.klaro .cookie-modal p {
font-size: .9rem;
}

.klaro .cookie-modal .cm-modal .cm-header h1 {
  font-weight: 400;
}

.klaro .cookie-modal a, .klaro .context-notice a, .klaro .cookie-notice a {
  color: #FF1864 !important;
}

.klaro .cookie-modal .cm-list-input:checked+.cm-list-label .slider, .klaro .context-notice .cm-list-input:checked+.cm-list-label .slider, .klaro .cookie-notice .cm-list-input:checked+.cm-list-label .slider {
  background-color: #FF1864 !important;
} 